@model TicTacToe.Models.Game
@{
    ViewBag.Title = "Tic Tac Toe";
}

<div class="page-header">
    <h1>Крестики-нолики</h1>
</div>

<div>
    <button type="submit"
            class="btn btn-lg"
            onclick="location.href='@Url.Action("DisplayResults")'">
        Результаты
    </button>
    <button type="submit"
            class="btn btn-lg"
            onclick="location.href='@Url.Action("Game")'">
        Новая игра
    </button>
</div>

<div class="row"> 
    @if (ViewBag.Text != null)
    {
        if (ViewBag.Text == "X")
        {
            <div class="alert alert-success col-md-4" style="margin:10px 0px">
                <h2>Вы выиграли!</h2>
            </div>
        }
        else if (ViewBag.Text == "O")
        {
            <div class="alert alert-danger col-md-4" style="margin:10px 0px">
                <h2>Вы проиграли!</h2>
            </div>
        }
        else
        {
            <div class="alert alert-warning col-md-4" style="margin: 10px 0px">
                <h2>Ничья!</h2>
            </div>
        }
    }
</div>

@using (Html.BeginForm("MakeMove", "Home", FormMethod.Post))
{
    <input type="hidden" name="id" value="@Model.Id" />
    <table border="0"> 
        @for (int i = 0; i < 9; i++)
        {
            <tr>
            @for (int j = 0; j < 3; j++)
            {
                bool res = false;
                bool winPos = false;
                string xoro = "";
                foreach (var move in Model.Moves)
                {
                    if (move.MoveNumber == i + j)
                    {
                        res = true;
                        xoro = move.XorO;
                        winPos = move.WinnerPosition;
                    }
                }
                if (res == true)
                {
                    if (winPos == true)
                    {
                        <td>                   
                            <button type="submit"
                                    name="Number"
                                    class="btn"
                                    value="@(i + j)"
                                    style="width: 120px; height:120px; background: #ff6a00; font-size:60px"
                                    disabled>
                                @xoro
                            </button>  
                        </td>
                    }
                    else
                    {
                        <td>
                            <button type="submit"
                                    name="Number"
                                    value="@(i + j)"
                                    style="width: 120px; height:120px; font-size:60px"
                                    disabled>
                                @xoro
                            </button>
                        </td>
                    }
                }
                else
                {
                        <td>
                            <button type="submit"
                                    name="Number"
                                    value="@(i + j)"
                                    style="width: 120px; height:120px">
                            </button>  
                        </td>
                }
            }       
            </tr>
        i += 2;
        }
    </table>
    
}